// Regular CSS imports do not work with relative path
@import 'styles/normalize_elements.css';
@import 'styles/blueprint_overrides.css';

* {
    font-family: 'Roboto', sans-serif;
}
body {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 21px !important;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

html, body {
    overflow: hidden;
}

.general-popover {
    padding: 7px 5px;
    background-color: #ffffff;
}

.center-text-flow {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.center-everything {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-text-sm { margin: 0  3px; }
.icon-text-md { margin: 0  6px; }
.icon-text-lg { margin: 0 10px; }


@import './tables';
