* {
    font-family: 'Roboto', sans-serif;
}
body {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 21px !important;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

html, body {
    overflow: hidden;
}

.pop-temp {
    padding: 5px;
}
